.gh{
  position: relative;
  /*width: 200px;
  height: 300px;*/
  left: 20px;
  top:400px;
}
.card {
  height: 500px;
  width:450px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: transform 0.5s ease;
}
/*.card7{
    height: 500px;
    width:450px;
  }*/
  .card7{
    position: relative;
    left: -70px;
    top: -140px;
    z-index: 10;
    cursor: pointer;
  }
  .g-card-container {
    height:100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  .front7{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    border-radius: 15px;
     font-size: 40px;
     background-color: #C7C8CC;
     color: #dddddd;
  }
  .card8{
    position: relative;
    left: 10px;
    top: -690px;
    cursor: pointer;
  }
  /*.card8{
    height: 500px;
    width:450px;
  }*/
  .h-card-container {
    height:100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  .front8{
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    height:100%;
    width:100%;
    border-radius: 15px;
    background-color: #9D9D9D;
    color: #dddddd;
    flex-direction: column;
    & .title8{
      position: relative;
      margin-top:-30px;
      left: -5rem;
      z-index: 10px;
      font-size: 30px;
    }
    .description8{
      width: min(30vw,400px);
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      position: relative;
      left: 1rem;
      font-size: 1.1rem;
    }
  }
.gh.swapped .card7 {
  left: 100%;
  transform: translateX(-100%);
}
.gh.swapped .card8 {
  left: -100%;
  transform: translateX(100%);
}